<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact</title>

        <link rel="stylesheet" type="text/css" href="../static/css/contact.css">
        
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">

        <script alt="JQuery Library" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> 
        
        <link rel="icon" type="image/png" href="../static/pictures/apple-icon-57x57.png" />
        
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <header>
            <img id="logo" src="../static/pictures/logo-type.svg" alt="logo">

            <nav class="hide_mobile">
                <ul>
                    <li class="menu">
                        <a href="/">ACCUEIL</a>
                    </li>
                    <li class="menu" id="chef">
                        <a href="/chef" >LE CHEF <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a href="/chef/#section-cave">LA CAVE</a></li>
                            <li><a href="/chef/#section-boulanger">LE BOULANGER</a></li>
                            <li><a href="/chef/#section-rotisserie">LA RÔTISSERIE</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a href="/static/page-carte.html">LA CARTE</a>
                    </li>
                    <li class="menu" id="reservation">
                        <a href="/reservation">RESERVATION <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a href="/reservation#section-salonprive">SALON PRIVE</a></li>
                            <li><a href="/reservation#section-invitation">INVITATION</a></li>
                        </ul>
                    </li>
                    <li class="menu" id="comptoir">
                        <a href="/comptoir">LE COMPTOIR <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a href="https://www.comptoirdelatour.com/fr/">E-BOUTIQUE</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a href="https://tourdargent.com/blog/">AG MAG</a>
                    </li>
                    <li class="menu" id="language">
                        <a>FR <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a>EN</a></li>
                        </ul>
                    </li> 

                </ul>
            </nav>
              <!-- NAVIGATION BURGER -->
           <div class="btn-navigation">
               <div class="barre"></div>
               <div class="barre"></div>
               <div class="barre"></div>
           </div>
            <div class="navigation">
                <ul>
                    <li class="menu-burger">
                        <a href="/">ACCUEIL</a>
                    </li>
                    <li class="menu-burger">
                        <a href="/chef" >LE CHEF</a>
                    </li>

                    <li class="menu-burger">
                        <a href="/chef/#section-cave">LA CAVE</a>
                    </li>
                    <li class="menu-burger">
                        <a href="/chef/#section-boulanger">LE BOULANGER</a>
                    </li>

                    <li class="menu-burger">
                        <a href="/chef/#section-rotisserie">LA RÔTISSERIE</a>
                    </li>


                    <li class="menu-burger">
                        <a href="/static/page-carte.html">LA CARTE</a>
                    </li>
                    <li class="menu-burger">
                        <a href="/reservation">RESERVATION </a>
                    </li>

                    <li class="menu-burger">
                        <a href="/reservation#section-salonprive">SALON PRIVE</a>
                    </li>
                    <li class="menu-burger">
                        <a href="/reservation#section-invitation">INVITATION</a>
                    </li>


                    <li class="menu-burger" >
                        <a href="/comptoir">LE COMPTOIR </a></li>

                    <li class="menu-burger">
                        <a href="https://www.comptoirdelatour.com/fr/">E-BOUTIQUE</a></li>

                    <li class="menu-burger">
                        <a href="https://tourdargent.com/blog/">AG MAG</a>
                    </li>
                    <li class="menu-burger">
                        <a>FR </a></li>

                    <li class="menu-burger"><a>EN</a></li>
                </ul>
            </div>
        </header>
        
        <main>
             <div class="line-type-title">
                <h1 class="big-title-left">CONTACT</h1>
                <img src="../static/pictures/Trac%C3%A9%20145.png" class="hide_mobile">
                <div class="line hide_mobile"></div>
            </div>
            
            <section id="rejoingnez-nous">
               <img  id="big-img" src="../static/pictures/page-contact/La-Salle-2016-nuit-1-1024x631.png">
               
               <article>
                   <img src="../static/pictures/page-rejoingnez-nous/tour-d-argent-e-boutique-logo-1491742565.png">
                   <p>15, quai de la Tournelle 75005 Paris<br><br>

Tél : +33 (0)1 43 54 23 31<br><br>

E-mail : resa@tourdargent.com<br><br>

Voiturier<br><br>

Fermé : Dimanche & lundi<br><br>

Métro : Pont Marie<br><br>
                   </p>
                </article>
                   
                
                
            </section>
        </main>



        <footer>
             <ul id="nav-footer">
                <li><a href="/mentions-legales">MENTION LEGALES</a></li>
                <li><a href="/rejoingnez-nous">REJOIGNEZ-NOUS</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/credit">CREDIT</a></li>
            </ul>

            <ul id=social-network>
                <li><a href="https://www.facebook.com/latourdargent/"><img src="../static/pictures/Facebook%20copie.png"></a></li>
                <li><a href="https://www.instagram.com/tourdargentparis/"><img src="../static/pictures/Insta%20copie.png"></a></li>
                <li><a href="https://twitter.com/latourdargent?lang=fr"><img src="../static/pictures/twitter.png"></a></li>
                <li><a href="https://plus.google.com/+TourdArgentParis"><img src="../static/pictures/Google%20plus%20copie.png"></a></li>
                <li><a href="https://www.flickr.com/photos/tourdargentparis/"><img src="../static/pictures/filckr%20copie.png"></a></li>
                <li><a href="https://www.linkedin.com/company-beta/3162633/"><img src="../static/pictures/Indeed%20copie.png"></a></li>
            </ul>
        </footer>

        <script type="text/javascript" src="../static/js/script.js"></script>
    </body>
</html>