<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>La Tour d'Argent</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">

        <link rel="stylesheet" type="text/css" href="../static/css/main.css">

        <link rel="stylesheet" href="../static/css/swiper.min.css">

        <script alt="JQuery Library" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <link rel="icon" type="image/png" href="../static/pictures/apple-icon-57x57.png" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">


    </head>
    <body>

        <header>
            <img id="logo" src="../static/pictures/logo-type.svg" alt="logo">

            <nav class="hide_mobile">
                <ul>
                    <li class="menu">
                        <a href="/">ACCUEIL</a>
                    </li>
                    <li class="menu" id="chef">
                        <a href="/chef" >LE CHEF <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a href="/chef/#section-cave">LA CAVE</a></li>
                            <li><a href="/chef/#section-boulanger">LE BOULANGER</a></li>
                            <li><a href="/chef/#section-rotisserie">LA RÔTISSERIE</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a href="/static/page-carte.html">LA CARTE</a>
                    </li>
                    <li class="menu" id="reservation">
                        <a href="/reservation">RESERVATION <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a href="/reservation#section-salonprive">SALON PRIVE</a></li>
                            <li><a href="/reservation#section-invitation">INVITATION</a></li>
                        </ul>
                    </li>
                    <li class="menu" id="comptoir">
                        <a href="/comptoir">LE COMPTOIR <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a href="https://www.comptoirdelatour.com/fr/">E-BOUTIQUE</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a href="https://tourdargent.com/blog/">AG MAG</a>
                    </li>
                    <li class="menu" id="language">
                        <a>FR <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a>EN</a></li>
                        </ul>
                    </li> 

                </ul>
            </nav>



            <!-- NAVIGATION BURGER -->
           <div class="btn-navigation">
               <div class="barre"></div>
               <div class="barre"></div>
               <div class="barre"></div>
           </div>
            <div class="navigation">
                <ul>
                    <li class="menu-burger">
                        <a href="/">ACCUEIL</a>
                    </li>
                    <li class="menu-burger">
                        <a href="/chef" >LE CHEF</a>
                    </li>

                    <li class="menu-burger">
                        <a href="/chef/#section-cave">LA CAVE</a>
                    </li>
                    <li class="menu-burger">
                        <a href="/chef/#section-boulanger">LE BOULANGER</a>
                    </li>

                    <li class="menu-burger">
                        <a href="/chef/#section-rotisserie">LA RÔTISSERIE</a>
                    </li>


                    <li class="menu-burger">
                        <a href="/static/page-carte.html">LA CARTE</a>
                    </li>
                    <li class="menu-burger">
                        <a href="/reservation">RESERVATION </a>
                    </li>

                    <li class="menu-burger">
                        <a href="/reservation#section-salonprive">SALON PRIVE</a>
                    </li>
                    <li class="menu-burger">
                        <a href="/reservation#section-invitation">INVITATION</a>
                    </li>


                    <li class="menu-burger" >
                        <a href="/comptoir">LE COMPTOIR </a></li>

                    <li class="menu-burger">
                        <a href="https://www.comptoirdelatour.com/fr/">E-BOUTIQUE</a></li>

                    <li class="menu-burger">
                        <a href="https://tourdargent.com/blog/">AG MAG</a>
                    </li>
                    <li class="menu-burger">
                        <a>FR </a></li>

                    <li class="menu-burger"><a>EN</a></li>
                </ul>
            </div>
        </header>
        <main> 
            <img  id="home-picture" src="../static/pictures/home/tour-d-argent-paris-la-salle-2016---jour.png">
            <section id="home">
                <h1 class="title title-responsive">UN LIEU UNIQUE</h1>
                <div class="line-type hide_mobile">
                    <img src="../static/pictures/Trac%C3%A9%20145.png">
                    <div class="line"></div>
                </div>
                <p id="text-home">La Tour d’Argent est un restaurant français du 5e arrondissement de Paris, souvent cité comme étant parmi les plus anciens d'Europe, qu'on prétend avoir été fondé en 1582 par Rourteau.<br><br>Situé au 15-17, quai de la Tournelle (à l'angle de la rue du Cardinal-Lemoine), il est notamment connu pour la vue panoramique qu'il offre sur la Seine et sur la cathédrale Notre-Dame de Paris de l'île de la Cité.</p>
            </section>
            <section id="heritage">
                <div class="line-type-title">
                    <h1 class="big-title-left title-responsive">HERITAGE</h1>
                    <img src="../static/pictures/Trac%C3%A9%20145.png" class="hide_mobile">
                    <div class="line hide_mobile"></div>
                </div>
                <img id="heritage-picture" src="../static/pictures/home/Page-Heritage.jpg" alt="Héritage">
            </section>
            <section id="family-terrail">
                <div class="line-type-title">
                    <div class="line hide_mobile"></div>
                    <img src="../static/pictures/Trac%C3%A9%20145.png"class="hide_mobile">
                    <h1 class="big-title-right title-responsive" id="title-terrail">LA FAMILLE TERRAIL</h1> 
                </div>
                <section id="family-bio">
                    <article class="bio">
                        <img src="../static/pictures/home/Page-Heritage-2-Andre-Terrail.jpg" alt="André Terrail">
                        <h2>ANDRE TERRAIL</h2><hr>
                        <p>André Terrail, le grand-père de l’actuel propriétaire, rachète la Tour d’Argent à Frédéric Delair en 1914 et fait entrer dans sa légende les recettes d’Adolphe Dugléré ainsi que les rarissimes bouteilles du Café Anglais. Entrepreneur infatigable, la Tour rejoint la collection de ses nombreux établissements parmi lesquels on compte le San Régis, l’Hôtel Bellman, le Georges V à Paris, l’Hôtel St Christophe à Miramar d’Esterel, l’Escargot Montorgueil et Potel & Chabot.</p>
                    </article>
                    <article id="middle-bio" class="bio">
                        <img src="../static/pictures/home/Claude-Terrail-2.jpg" alt="André Terrail">
                        <h2>CLAUDE TERRAIL</h2><hr>
                        <p>En 1947, André Terrail transmet les rênes de la Tour d’Argent à son fils, Claude. Sous sa direction, la Tour d’Argent ouvre un second restaurant à Tokyo, célèbre son 400ème anniversaire, et connaît de nombreuses évolutions la maintenant au plus haut niveau de la gastronomie mondiale. Entrepreneur visionnaire et meneur d’hommes, l’histoire retiendra un grand Maître de Maison dont la maxime favorite était : “Il n’y a rien de plus sérieux que le plaisir”. Disparu en 2006, son fils André perpétue l’histoire de cette grande Maison.</p>
                    </article>
                    <article class="bio">
                        <img src="../static/pictures/home/Page-Heritage-4-Andre-Terrail%20-%20Copie.jpg" alt="André Terrail">
                        <h2>ANDRE TERRAIL</h2><hr>
                        <p>André Terrail rejoint l’entreprise familiale en 2003 et succède à son père en 2006. Il entame ainsi un nouveau chapitre dans l’illustre histoire de cet établissement. Tout en satisfaisant aux attentes d’une clientèle exigeante il s’attache à faire évoluer la Maison en respectant son héritage. Il s’appuie sur une équipe de grands professionnels pour embrasser l’esprit de son époque. André Terrail est titulaire d’un Bachelor of Science in Business Administration de Babson College et d’un Master of Business Administration de l’INSEAD.</p>
                    </article>

                </section>

            </section>
            <section id="history">
                <div class="line-type-title">
                    <h1 class="big-title-left" id="title-history">NOTRE HISTOIRE</h1>
                    <img src="../static/pictures/Trac%C3%A9%20145.png" class="hide_mobile">
                    <div class="line hide_mobile"></div>
                </div>
                <p id="text-history">Chaque Tour a sa légende, on le sait, et la nôtre n’y manque point. Depuis maintenant près d’un siècle, à travers les vicissitudes de l’histoire, elle a maintenu une tradition et un honneur, presque un culte.<br><br>

                    Car l’ancienneté des lieux et l’authenticité des anecdotes comptent moins, finalement, que la vivante ferveur qu’ont su entretenir André Terrail, puis après lui, son fils Claude et maintenant André.<br><br>

                    Passent les lustres et les personnalités, changent les menus et les modes, la table reste mise à La Tour d’Argent.
                </p>
                <img src="../static/pictures/home/df2e25ebfd9d9e58e02e88f3613b6bed.jpg" id="picture-history" alt="history">

            </section>
            <section id="chrono">

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="article-history-left">
                                <img src="../static/pictures/home/Une-Hostellerie-au-Bord-du-Fleuve-Seine-1.jpg" id="history-img-left-1">
                                <p class="date">1582</p>
                                <h3>UNE HOSTELLERIE AU BORD DU FLEUVE SEINE</h3>
                                <div class="line-type-history-left hide_mobile">
                                    <img src="../static/pictures/Trac%C3%A9%20145.png">
                                    <div class="line"></div>
                                </div>
                                <p class="p-chrono">Sous Henri III, en face du port aux vins et juste après la Porte Saint-Bernard un certain Rourteau ouvre une auberge élégante qui accueillera les seigneurs du Roi, las de hanter les tripots et les coupe-gorges… Le Château de la Tournelle adjacent bâti d’une pierre champenoise aux reflets argentés donne son nom à l’établissement qui prend ainsi le nom d’Hostellerie de la Tour d’Argent.</p>
                            </div></div>
                        <div class="swiper-slide">
                            <div class="article-history-right">
                                <img src="../static/pictures/home/fourchette.jpg" id="history-img-right-1">
                                <p class="date-right">XVIe siècle</p>
                                <h3>LES PREMIÈRES FOURCHETTES</h3>
                                <div class="line-type-history-right hide_mobile">

                                    <div class="line"></div>
                                    <img src="../static/pictures/Trac%C3%A9%20145.png">
                                </div>
                                <p class="p-chrono">Déjà utilisée dans quelques maisons italiennes, la fourchette fait son apparition en France à la Tour d’Argent. Afin de ne pas tâcher la fraise immaculée que la mode imposait au cou des gentilshommes, Henri IV inaugura cet ustensile par un dîner qui fit grand bruit dans Paris. Dès lors, la Tour d’Argent devint incontournable, et Henri IV y venait régulièrement déguster “La Poule d’Afrique ou l’Anguille des Bois” et de “Grosses tranches de Pâté de Héron”.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-history-left">
                                <img src="../static/pictures/home/Cuisinier-Oyer-Traiteur-1.jpg"id="history-img-left-2">
                                <p class="date">XVIIe siècle</p>
                                <h3>CUISINIER-OYER-TRAITEUR</h3>
                                <div class="line-type-history-left hide_mobile">
                                    <img src="../static/pictures/Trac%C3%A9%20145.png">
                                    <div class="line"></div>
                                </div>
                                <p class="p-chrono">C’est ce même Henri IV qui octroyât à la Tour d’Argent l’honneur de porter des armes, et jusqu’au règne de Louis XIV on pût voir au-dessus de la porte de l’hostellerie cette armoirie “Cuisinier – Oyer – traiteur”. Les armes du restaurant étaient : “d’Argent à un plat couvert de sable accompagné de trois couronnes de lierre et de sinople”, tandis que celle de l’hostellerie étaient “une Tour d’Argent crénelée sur un champ de gueules”.</p>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="article-history-right">
                                <img src="../static/pictures/home/Du-Cardinal-de-Richelieu-%C3%A0-la-Revolution-Francaise.jpg" id="history-img-right-2">
                                <p class="date-right">XVIIIe siècle</p>
                                <h3>DU CARDINAL DE RICHELIEU À LA RÉVOLUTION FRANÇAISE</h3>
                                <div class="line-type-history-right hide_mobile">

                                    <div class="line"></div>
                                    <img src="../static/pictures/Trac%C3%A9%20145.png">
                                </div>
                                <p class="p-chrono">La Tour d’Argent demeura le lieu des soupers fins. La chronique a laissé le souvenir d’un dîner offert par le Duc de Richelieu, neveu du Cardinal, qui réunit quarante personnes autour d’un menu composé uniquement de bœuf apprêté de trente façons différentes ! C’est à la fin de ce repas que l’on vit apparaître pour la première fois les tasses à café. On prenait aussi à la Tour d’Argent de l’excellent chocolat. Dans une lettre écrite en 1671, Madame de Sévigné n’écrit-elle pas à sa fille qu’elle y déguste son chocolat quotidiennement Quai de la Tournelle ?
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-history-left">
                                <img src="../static/pictures/home/Lecoq-Cuisinier-personel-de-Napoleon%20-%20Copie.jpg" id="history-img-left-3">
                                <p class="date">1830</p>
                                <h3>LECOQ, CUISINIER PERSONNEL DE NAPOLÉON</h3>
                                <div class="line-type-history-left hide_mobile" >
                                    <img src="../static/pictures/Trac%C3%A9%20145.png">
                                    <div class="line"></div>
                                </div>
                                <p class="p-chrono">La tourmente révolutionnaire passée, Lecoq, Chef des cuisines impériales, reconstruisit le restaurant de la Tour d’Argent. L’endroit redevint le lieu des gourmets célèbres tel le duc de Morny et la comtesse Le Hon, la dame aux Camélias ou encore Lord Seymour.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-history-right">
                                <img src="../static/pictures/home/Heritage-le-Diner-des-Trois-Empereurs.jpg" id="history-img-right-3">
                                <p class="date-right">1867</p>
                                <h3>LE DÎNER DES TROIS EMPEREURS AU CAFÉ ANGLAIS</h3>
                                <div class="line-type-history-right hide_mobile">

                                    <div class="line"></div>
                                    <img src="../static/pictures/Trac%C3%A9%20145.png">
                                </div>
                                <p class="p-chrono">C’est en 1867, à l’heure de l’exposition universelle de Paris, que le Café Anglais connaîtra son apogée. Jugez du peu ! Alexandre II, Tsar de toutes les Russies, le Tsarévitch et futur Alexandre III, Guillaume 1er, Roi de Prusse et futur Empereur, et le prince Otto von Bismarck réunis à la même table. À ces convives exceptionnels, le Chef Dugléré préparera un menu d’exception composé de cinq entrées, six plats et quatre desserts.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">

                            <div class="article-history-left">
                                <img src="../static/pictures/home/Frederic-Delair-et-le-Caneton-Numerote.jpg" id="history-img-left-4">
                                <p class="date">1890</p>
                                <h3>FRÉDÉRIC DELAIR ET LE CANETON NUMÉROTÉ</h3>
                                <div class="line-type-history-left hide_mobile">
                                    <img src="../static/pictures/Trac%C3%A9%20145.png">
                                    <div class="line"></div>
                                </div>
                                <p class="p-chrono">Sous la houlette de ce maître d’hôtel devenu propriétaire au milieu du XIXe siècle, le service en salle prend un tour nouveau. Frédéric codifie la recette du “canard au sang” ou “caneton Frédéric Delair” tel que nous le connaissons aujourd’hui et s’illustre en découpant le canard à bout de fourchette, sans qu’il ne touche le plat ! Sûr de la pérennité de son œuvre, il décide en 1890 de numéroter chaque canard. Tradition qui perdure aujourd’hui encore.
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide"> <div class="article-history-right">
                            <img src="../static/pictures/home/Le-Cafe-Anglais.jpg" id="history-img-right-4">
                            <p class="date-right">1911</p>
                            <h3>LE CAFÉ ANGLAIS</h3>
                            <div class="line-type-history-right hide_mobile">

                                <div class="line"></div>
                                <img src="../static/pictures/Trac%C3%A9%20145.png">
                            </div>
                            <p class="p-chrono">En 1911, à la veille de la première guerre mondiale, André Terrail rachète la Tour d’Argent. Il réunit, en épousant la fille de Claudius Burdel, alors propriétaire du Café Anglais, l’héritage gastronomique de Frédéric et celui du non moins illustre Adolphe Dugléré, cuisinier du Café Anglais, rien de moins que le plus couru des établissements parisien sous le Second Empire.
                            </p>
                            </div></div>
                        <div class="swiper-slide">
                            <div class="article-history-left">
                                <img src="../static/pictures/home/1925-Un-Nouveau-decor.jpg" id="history-img-left-5">
                                <p class="date">1925</p>
                                <h3>UN NOUVEAU DÉCOR
                                </h3>
                                <div class="line-type-history-left hide_mobile">
                                    <img src="../static/pictures/Trac%C3%A9%20145.png">
                                    <div class="line"></div>
                                </div>
                                <p class="p-chrono">La Tour d’Argent se transforme et le restaurant alors au rez-de-chaussée se couvre de boiseries. Une somptueuse grille en fer forgée marque la nouvelle entrée déplacée du 15 quai de la Tournelle au 17, coin du quai de la Tournelle et de la rue du Cardinal Lemoine.
                                </p>
                            </div>

                        </div>
                        <div class="swiper-slide"><div class="article-history-right">
                            <img src="../static/pictures/home/La-Tour-s-eleve.jpg" id="history-img-right-5">
                            <p class="date-right">1936</p>
                            <h3>LA TOUR S’ÉLÈVE</h3>
                            <div class="line-type-history-right hide_mobile">

                                <div class="line"></div>
                                <img src="../static/pictures/Trac%C3%A9%20145.png">
                            </div>
                            <p class="p-chrono">André Terrail réalise un projet longtemps mûri: Hausser l’immeuble de deux étages et installer le restaurant au sixième pour lui donner le plus bel environnement qui se puisse rêver.
                                pour bâtir sur des plots en acier la grande salle aujourd’hui familière, dont le corps de bâtiment n’aurait pu soutenir tout le poids. Ce fut d’abord une terrasse ouverte, que l’on ferma ensuite avec des bâches, enfin par les immenses baies vitrées. La « Tour » prit peu à peu la structure qu’elle a gardée: on ouvrit la seconde salle, on transporta les cuisines au sixième, on installa un ascenseur un peu plus large que l’ancien.

                            </p>
                            </div></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>



            </section>

        </main>

        <footer>
            <ul id="nav-footer">
                <li><a href="/mentions-legales">MENTION LEGALES</a></li>
                <li><a href="/rejoingnez-nous">REJOIGNEZ-NOUS</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/credit">CREDIT</a></li>
            </ul>

            <ul id=social-network>
                <li><a href="https://www.facebook.com/latourdargent/"><img src="../static/pictures/Facebook%20copie.png"></a></li>
                <li><a href="https://www.instagram.com/tourdargentparis/"><img src="../static/pictures/Insta%20copie.png"></a></li>
                <li><a href="https://twitter.com/latourdargent?lang=fr"><img src="../static/pictures/twitter.png"></a></li>
                <li><a href="https://plus.google.com/+TourdArgentParis"><img src="../static/pictures/Google%20plus%20copie.png"></a></li>
                <li><a href="https://www.flickr.com/photos/tourdargentparis/"><img src="../static/pictures/filckr%20copie.png"></a></li>
                <li><a href="https://www.linkedin.com/company-beta/3162633/"><img src="../static/pictures/Indeed%20copie.png"></a></li>
            </ul>
        </footer>


        <script type="text/javascript" src="../static/js/script.js"></script>
        <script type="text/javascript" src="../static/js/swiper.js"></script>

        <script src="../static/js/swiper.jquery.min.js"></script>

    </body>


</html>