<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Le Chef</title>

        <link rel="stylesheet" type="text/css" href="../static/css/page-chef.css">

        <link rel="stylesheet" href="../static/css/swiper.min.css">

        <link rel="stylesheet" type="text/css" href="../static/css/main.css">

        <script alt="JQuery Library" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        
        <link rel="icon" type="image/png" href="../static/pictures/apple-icon-57x57.png" />
        
         <meta name="viewport" content="width=device-width, initial-scale=1.0">


    </head>
    <body>

        <header>
            <img id="logo" src="../static/pictures/logo-type.svg" alt="logo">

            <nav class="hide_mobile">
                <ul>
                    <li class="menu">
                        <a href="/">ACCUEIL</a>
                    </li>
                    <li class="menu" id="chef">
                        <a href="/chef" >LE CHEF <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a href="/chef/#section-cave">LA CAVE</a></li>
                            <li><a href="/chef/#section-boulanger">LE BOULANGER</a></li>
                            <li><a href="/chef/#section-rotisserie">LA RÔTISSERIE</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a href="/static/page-carte.html">LA CARTE</a>
                    </li>
                    <li class="menu" id="reservation">
                        <a href="/reservation">RESERVATION <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a href="/reservation#section-salonprive">SALON PRIVE</a></li>
                            <li><a href="/reservation#section-invitation">INVITATION</a></li>
                        </ul>
                    </li>
                    <li class="menu" id="comptoir">
                        <a href="/comptoir">LE COMPTOIR <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a href="https://www.comptoirdelatour.com/fr/">E-BOUTIQUE</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a href="https://tourdargent.com/blog/">AG MAG</a>
                    </li>
                    <li class="menu" id="language">
                        <a>FR <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a>EN</a></li>
                        </ul>
                    </li> 

                </ul>
            </nav>
              <!-- NAVIGATION BURGER -->
           <div class="btn-navigation">
               <div class="barre"></div>
               <div class="barre"></div>
               <div class="barre"></div>
           </div>
            <div class="navigation">
                <ul>
                    <li class="menu-burger">
                        <a href="/">ACCUEIL</a>
                    </li>
                    <li class="menu-burger">
                        <a href="/chef" >LE CHEF</a>
                    </li>

                    <li class="menu-burger">
                        <a href="/chef/#section-cave">LA CAVE</a>
                    </li>
                    <li class="menu-burger">
                        <a href="/chef/#section-boulanger">LE BOULANGER</a>
                    </li>

                    <li class="menu-burger">
                        <a href="/chef/#section-rotisserie">LA RÔTISSERIE</a>
                    </li>


                    <li class="menu-burger">
                        <a href="/static/page-carte.html">LA CARTE</a>
                    </li>
                    <li class="menu-burger">
                        <a href="/reservation">RESERVATION </a>
                    </li>

                    <li class="menu-burger">
                        <a href="/reservation#section-salonprive">SALON PRIVE</a>
                    </li>
                    <li class="menu-burger">
                        <a href="/reservation#section-invitation">INVITATION</a>
                    </li>


                    <li class="menu-burger" >
                        <a href="/comptoir">LE COMPTOIR </a></li>

                    <li class="menu-burger">
                        <a href="https://www.comptoirdelatour.com/fr/">E-BOUTIQUE</a></li>

                    <li class="menu-burger">
                        <a href="https://tourdargent.com/blog/">AG MAG</a>
                    </li>
                    <li class="menu-burger">
                        <a>FR </a></li>

                    <li class="menu-burger"><a>EN</a></li>
                </ul>
            </div>
        </header>
        <main>
            <section id="section-chef">
                <div class="line-type-title">
                    <h1 class="big-title-left">LE CHEF</h1>
                    <img src="../static/pictures/Trac%C3%A9%20145.png" class="hide_mobile">
                    <div class="line hide_mobile"></div>
                </div>
                <img src="../static/pictures/page-chef/philippe-labbe-chef-executive-du-shangrila-hotelparis.png" alt="le chef" id="img-chef">

                <h2 id="labbe" class="title-article">PHILLIPE LABBE</h2>

                <div class="line-type-article-left hide_mobile">
                    <img src="../static/pictures/Trac%C3%A9%20145.png">
                    <div class="line"></div>
                </div>
                <p class="p-italic">"Je souhaite donner la même émotion dans l’assiette qu’en regardant à travers la baie vitrée."</p>
                <p class="text-left">Philippe Labbé propose une cuisine traditionnelle revisitée qui connaît depuis plusieurs années les honneurs des gastronomes du monde entier.Il affectionne les mariages de saveurs originales sublimant des produits de haute qualité et apporte une attention toute particulière à la carte des desserts qui doit être en parfaite harmonie avec sa cuisine.</p>



                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Agneau-du-Limousin-de-Bergerie-%E2%80%9CLe-Baronnet%E2%80%9D-filet-r%C3%B4ti-au-cumin-des-pr%C3%A9s-pickles-doignons-rouges-ris-dor%C3%A9-%C3%A0-lail-nouveau-...-V1.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Asperges-blanches-bio-de-Fr%C3%A9d%C3%A9ric-Poupard-basilic-fraises-Ciflorette-sorbet-parmesan-....jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Brochet-sauvage-des-Gravi%C3%A8res-de-V%C3%A9theuil-quenelle-hommage-au-grand-p%C3%A8re-V2.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Caneton-Mazarine-1er-service-2.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Caneton-Mazarine-2%C3%A8me-service.jpg"

                                                       ></div>

                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Comme-un-vacherin-fraises-des-bois-mangue.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Fleurs-printani%C3%A8res-floralies-cristallis%C3%A9es-mousse-de-rose-sorbet-framboise-et-champagne-ros%C3%A9-gel%C3%A9e-de-miel-de-notre-toit-barbe-%C3%A0-papa.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Floralies-de-pinces-th%C3%A9-d%C3%A9licatement-infus%C3%A9-%C3%A0-la-camomille-groseilles-et-petits-pois.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Foie-gras-de-canard-grill%C3%A9-laqu%C3%A9-au-vieux-balsamique-tradition-cristalline-de-laitue-de-mer-....jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Fraises-Ciflorette-XXL-sur-un-biscuit-onctueux-Traou-Mad-cr%C3%A8me-glac%C3%A9e-italienne-%C3%A0-la-f%C3%A8ve-Tonka-marbr%C3%A9-de-granit%C3%A9.jpg"

                                                       ></div>   

                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Interpr%C3%A9tation-dune-feuillantine-de-brick-aux-vanilles-fa%C3%A7on-millefeuille.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Langouste-Puce-Royale-%E2%80%9CBelle-Demoiselle%E2%80%9D-caviar-Imp%C3%A9rial.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Oeuf-de-cane-monochrome-jaune-acidul%C3%A9-aux-fleurs-de-capucines-et-tag%C3%A8tes-courgette-et-betterave-jaunes.jpg"

                                                       ></div>  
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Queue-de-homard-des-Iles-Chausey-poch%C3%A9e-lentement-dans-un-beurre-dagrumes-sabayon-au-vin-de-X%C3%A9r%C3%A8s-....jpg"

                                                       ></div>  
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Ris-de-veau-fermier-dor%C3%A9-au-sautoir-grillotin%C3%A9-de-gratons-morilles-%C3%A9tuv%C3%A9es-au-jus-de-savagnin-%C3%A9mulsion-dail-des-ours-sucs-de-parmesan-di-Reggiano-baselle-V1.jpg"

                                                       ></div> 
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Saint-Pierre-de-ligne-de-Roscoff-cuisin%C3%A9-%C3%A0-la-nacre-boh%C3%A9mienne-de-petits-pois-et-carottes-nouvelles-jus-de-homard-acidul%C3%A9-citron-vert.jpg"

                                                       ></div> 
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Supr%C3%AAme-r%C3%B4ti-au-Porto-marmelade-de-sucrine-puntarella-pamplemousse-rose-li%C3%A9-%C3%A0-l%C3%A9peautre-de-Sault-%C3%A9mulsion-dail-des-ours.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-chef/Turbot-sauvage-de-Roscoff-r%C3%B4ti-%C3%A0-lobione-fenouil-marin-feuilles-de-capucine-fraises-vertes-....jpg"

                                                       ></div>                           
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

            </section>
            <section id="section-cave">
                <div class="line-type-title">
                    <div class="line hide_mobile"></div>
                    <img src="../static/pictures/Trac%C3%A9%20145.png" class="hide_mobile">
                    <h1 class="big-title-right" id="title-cave">LA CAVE</h1> 
                </div>
                <article id="cave1">
                    <img id="img-cave" src="../static/pictures/page-chef/Page-La-Cave-n%C2%B02-1%20(1).jpg">
                    <h2 class="title-article-right">LES HONNEURS DU CELLIER</h2>
                    <div class="line-type-article-right hide_mobile">
                        <div class="line"></div>
                        <img src="../static/pictures/Trac%C3%A9%20145.png">


                    </div>
                    <p class="text-right">La Tour d’Argent s’enorgueillit de posséder la cave techniquement la plus parfaite de Paris. Les trésors glorieux des celliers, les flacons de haute mémoire trouvent dans les caveaux leur écrin d’élection. Parmi les 320 000 bouteilles qui y reposent voici quelques trophées, pièces de collection ou spécimens choisis d’années incomparables.<br><br>
                        Le Château Citran 1858, est le plus ancien des vins de notre cave. À sa gauche, un Château Siran 1865, millésime prestigieux ! Sur ce flacon empoussiéré, c’est un Château Gruaud-Larose, la date se lit mal : c’est 1870, l’année terrible, hélas, mais pour le vigneron du Médoc, une très grande année. Voici l’ancêtre des blancs de Bordeaux, un Château d’Yquem 1871, cette année-là, c’est aux sauternes que les dieux et les cieux avaient réservé leurs faveurs. Plus sublimes encore, les cuvées de 1874, dont nous avons gardé un Château Rayne-Vigneau, ou 1893, que ce Château Guiraud représente assez éloquemment.


                    </p>

                </article>
                <article id="cave2">
                    <img id="img-cave2" src="../static/pictures/page-chef/Page-La-Cave-n%C2%B03-1.jpg">
                    <h2 class="title-article">DAVID RIDGWAY</h2>
                    <div class="line-type-article-left hide_mobile">
                        <img src="../static/pictures/Trac%C3%A9%20145.png">
                        <div class="line"></div>
                    </div>
                    <p class="text-left">David Ridgway est notre Chef Sommelier et c’est grâce à lui que la Tour d’Argent s’est dotée de l’une des caves à vins les plus riches de France et probablement du monde.<br><br>Ses fonctions ne se limitent pas à gérer la cave, mais surtout à partager avec la clientèle de la Tour son expertise sans pareille et lui procurer une expérience culinaire du plus haut niveau. Grâce à lui nous détenons le “WineSpectator Grand Award” depuis 1986</p>
                    <a href="https://www.comptoirdelatour.com/fr/">E-BOUTIQUE</a>

                </article>
            </section>
            <section id="section-boulanger">
                <div class="line-type-title">
                    <h1 id="title-boulanger" class="big-title-left">LE BOULANGER</h1>
                    <img src="../static/pictures/Trac%C3%A9%20145.png" class="hide_mobile">
                    <div class="line hide_mobile"></div>
                </div>
                <img src="../static/pictures/page-chef/Page-Le-Boulanger-de-la-Tour-n%C2%B02.jpg" alt="le boulanger" id="img-boulanger">

                <h2 id="title-article-boulanger" class="title-article">ALEXIS BOURGEOT</h2>

                <div class="line-type-article-left hide_mobile">
                    <img src="../static/pictures/Trac%C3%A9%20145.png">
                    <div class="line"></div>
                </div>

                <p id="text-boulanger" class="text-left">Ancrée depuis toujours dans les terroirs et la tradition, il était dans l’ordre des choses que la Tour d’Argent ouvre un jour sa boulangerie.<br><br>Passé par la pâtisserie de Cyril Lignac et par la Boulangerie des Invalides de Philippe-Marc Jocteur, Alexis a le goût du travail bien fait, le respect du produit, un joli savoir-faire et recherche la pleine satisfaction de ses clients. Dans son bel écrin de marbre clair et de bois massif avec un espace ouvert sur l’atelier de fabrication, les pains tout justes sortis du four apparaissent en majesté : baguettes, tourtes de meule, pains scandinave, pains complets, pains au maïs, pains Punchy et bien d’autres encore.</p>



                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-boulanger/Page-Le-Boulanger-de-la-Tour-n%C2%B010-2.jpg"
                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-boulanger/Page-Le-Boulanger-de-la-Tour-n%C2%B011-2.jpg">

                        </div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-boulanger/Page-Le-Boulanger-de-la-Tour-n%C2%B012-2.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-boulanger/Page-Le-Boulanger-de-la-Tour-n%C2%B013-1.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-boulanger/Page-Le-Boulanger-de-la-Tour-n%C2%B015-2.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-boulanger/Page-Le-Boulanger-de-la-Tour-n%C2%B016-2.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-boulanger/Page-Le-Boulanger-de-la-Tour-n%C2%B03-4.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-boulanger/Page-Le-Boulanger-de-la-Tour-n%C2%B04-3.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-boulanger/Page-Le-Boulanger-de-la-Tour-n%C2%B05-3.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-boulanger/Page-Le-Boulanger-de-la-Tour-n%C2%B06-2.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-boulanger/Page-Le-Boulanger-de-la-Tour-n%C2%B08-1.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-boulanger/Page-Le-Boulanger-de-la-Tour-n%C2%B09-2.jpg"

                                                       ></div>


                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

            </section>
            <section id="section-rotisserie">
                <div class="line-type-title">
                    <div class="line hide_mobile"></div>
                    <img src="../static/pictures/Trac%C3%A9%20145.png" class="hide_mobile">
                    <h1 class="big-title-right" id="title-rotisserie">LA RÔTISSERIE</h1> 

                </div>
                <img id="img-rotisserie" src="../static/pictures/page-chef/Page-La-R%C3%B4tisserie-dArgent-n%C2%B01-1.jpg" alt="La rotisserie">

                <img id="img-rotisserie-serveur" src="../static/pictures/page-chef/DSC_1244.jpg" alt="Rotisserie">
                <h2 class="title-article-right" id="title-roti">MAISON VIVANTE ET CHALEUREUSE</h2>
                <div class="line-type-article-right hide_mobile">
                    <div class="line"></div>
                    <img src="../static/pictures/Trac%C3%A9%20145.png">
                </div>

                <p class="text-right">Sympathique bouchon lyonnais acquis en 1989 par Claude Terrail, le restaurant a naturellement évolué au fil des ans pour devenir un bistrot typiquement parisien. Sa fameuse rôtissoire est le cœur des lieux, un cœur qui ne s’arrête jamais de battre et anime les murs de cet esprit “maison de campagne” en plein Paris.<br><br>Idéalement située Rive gauche entre les bords de Seine et la montagne Sainte-Geneviève, à deux pas du Quartier Latin, la Rôtisserie d’Argent fait de l’œil aux îles et Notre-Dame. Blottie contre sa grande sœur la Tour d’Argent, elle en respecte les valeurs, pour le plus grand plaisir de sa clientèle aussi exigeante qu’éclectique.</p>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-rotisserie/Faux-filet-de-race-francaise-V2.jpg"
                                                       ></div>

                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-rotisserie/Rotisserie-dargent-3.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-rotisserie/Rotisserie-dargent-4.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-rotisserie/Rotisserie-dargent-5.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-rotisserie/Rotisserie-dargent-6.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-rotisserie/Rotisserie-dargent-7.jpg"

                                                       ></div>
                        <div class="swiper-slide"><img src="../static/pictures/page-chef/swiper-rotisserie/Rotisserie-dargent-8.jpg"

                                                       ></div>


                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>


            </section>

        </main>

        <footer>
            <ul id="nav-footer">
                <li><a href="/mentions-legales">MENTION LEGALES</a></li>
                <li><a href="/rejoingnez-nous">REJOIGNEZ-NOUS</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/credit">CREDIT</a></li>
            </ul>

            <ul id=social-network>
                <li><a href="https://www.facebook.com/latourdargent/"><img src="../static/pictures/Facebook%20copie.png"></a></li>
                <li><a href="https://www.instagram.com/tourdargentparis/"><img src="../static/pictures/Insta%20copie.png"></a></li>
                <li><a href="https://twitter.com/latourdargent?lang=fr"><img src="../static/pictures/twitter.png"></a></li>
                <li><a href="https://plus.google.com/+TourdArgentParis"><img src="../static/pictures/Google%20plus%20copie.png"></a></li>
                <li><a href="https://www.flickr.com/photos/tourdargentparis/"><img src="../static/pictures/filckr%20copie.png"></a></li>
                <li><a href="https://www.linkedin.com/company-beta/3162633/"><img src="../static/pictures/Indeed%20copie.png"></a></li>
            </ul>
        </footer>


        <script src="../static/js/swiper.jquery.min.js">
        </script>
        <script type="text/javascript" src="../static/js/script.js"></script>
        <script type="text/javascript" src="../static/js/swiper2.js"></script>
    </body>
</html>