<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Rejoingnez-nous</title>

        <link rel="stylesheet" type="text/css" href="../static/css/rejoingnez-nous.css">

        <script alt="JQuery Library" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> 
    </head>

    <body>

        <header>
            <img id="logo" src="../static/pictures/logo-type.svg" alt="logo">

            <nav>
                <ul>
                    <li class="menu">
                        <a href="/static/index.html">ACCUEIL</a>
                    </li>
                    <li class="menu" id="chef">
                        <a href="/static/page-chef.html" >LE CHEF <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a>LA CAVE</a></li>
                            <li><a>LE BOULANGER</a></li>
                            <li><a>LA RÔTISSERIE</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a href="/static/page-carte.html">LA CARTE</a>
                    </li>
                    <li class="menu" id="reservation">
                        <a href="page-reservation.html">RESERVATION <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a>SALON PRIVE</a></li>
                            <li><a>INVITATION</a></li>
                        </ul>
                    </li>
                    <li class="menu" id="comptoir">
                        <a href="/static/page-comptoir.html">LE COMPTOIR <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a>E-BOUTIQUE</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a href="https://tourdargent.com/blog/">AG MAG</a>
                    </li>
                    <li class="menu" id="language">
                        <a>FR <img src="../static/pictures/Fichier%201.png"></a>
                        <ul class="off">
                            <li><a>EN</a></li>
                        </ul>
                    </li> 

                </ul>
            </nav>
        </header>
        
        <main>
             <div class="line-type-title">
                <h1 class="big-title-left">REJOINGNEZ-NOUS</h1>
                <img src="../static/pictures/Trac%C3%A9%20145.png">
                <div class="line"></div>
            </div>
            
            <section id="rejoingnez-nous">
               <img  id="big-img" src="../static/pictures/page-rejoingnez-nous/fe66ff31a8094384d7f16d49178a96ea-1024x644.png">
               
               <article>
                   <img src="../static/pictures/page-rejoingnez-nous/tour-d-argent-e-boutique-logo-1491742565.png">
                   <p>Contactez-nous par mail !</p>
                   <div><a href="mailto:recrutement@tourdargent.com">Envoyer un mail</a></div>
               </article> 
                
                
            </section>
        </main>



        <footer>
            <ul id="nav-footer">
                <li><a href="/static/mentions-legales.html">MENTION LEGALES</a></li>
                <li><a href="/static/rejoingnez-nous.html">REJOIGNEZ-NOUS</a></li>
                <li><a href="/static/contact.html">CONTACT</a></li>
                <li><a href="/static/credit.html">CREDIT</a></li>
            </ul>

            <ul id=social-network>
                <li><a href="https://www.facebook.com/latourdargent/"><img src="../static/pictures/Facebook%20copie.png"></a></li>
                <li><a href="https://www.instagram.com/tourdargentparis/"><img src="../static/pictures/Insta%20copie.png"></a></li>
                <li><a href="https://twitter.com/latourdargent?lang=fr"><img src="../static/pictures/twitter.png"></a></li>
                <li><a href="https://plus.google.com/+TourdArgentParis"><img src="../static/pictures/Google%20plus%20copie.png"></a></li>
                <li><a href="https://www.flickr.com/photos/tourdargentparis/"><img src="../static/pictures/filckr%20copie.png"></a></li>
                <li><a href="https://www.linkedin.com/company-beta/3162633/"><img src="../static/pictures/Indeed%20copie.png"></a></li>
            </ul>
        </footer>

        <script type="text/javascript" src="../static/js/rejoingnez-nous.js"></script>
    </body>
</html>