@font-face {
    font-family: "Lato-regular";
    src: url("../font/Lato-Regular.ttf")
}
@font-face {
    font-family: "Lato-light";
    src: url("../font/Lato-Light.ttf")
}
@font-face {
    font-family: "Oswald-regular";
    src: url("../font/Oswald-Regular.ttf")
}
@font-face {
    font-family: "Oswald-light";
    src: url("../font/Oswald-Light.ttf")
}
@font-face {
    font-family: "Questrial-regular";
    src: url("../font/Questrial-Regular.ttf")
}
@font-face {
    font-family: "Oswald-extralight";
    src: url("../font/Oswald-ExtraLight.ttf")
}

* {
    margin: 0;
    padding: 0;
}
body{
    margin-left: 60px;
    margin-right: 60px;

}

/*HEADER*/

#logo {
    width: 200px;
    height: auto;
    margin-top: 20px;

}
header{
    height: 50px;
    background-color: #ffffff;
    z-index: 100;
   

}
.fixe {
    position: fixed;
    width: 100%;

}
.fixe1{
    padding-right: 120px;
}
header nav{
    float: right;
}
header nav ul{
    display: inline-block;
    list-style-type: none;

}
.menu{
    display: inline-block;
    font-family: Oswald-light;
    font-size: 15px;
    color: black;
    margin-left: 20px;
    margin-top: 22px;
    position: relative;

}
.rotate{
    transform: rotate(180deg);
}

.menu a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;

}

.menu a img{
    height: 5px;
    width: auto;
    text-align: center;
    margin-left: 5px;
}
.off{
    display: none;
    position: absolute;
    width: 100px;
    background-color: white;
}
.off li a{

    padding: 5px;
    text-align: left;

}

/***************/


.line{
    width: 100%;
    border-top: solid 0.5px black;
    margin-left: -2px;

}

.line-type-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    margin-bottom: 40px;
    width: 100%;
}
.line-type-title img{
    text-align: center;
    width: 20px;
    height: auto;
}
.big-title-left{
    font-family: Oswald-extralight;
    font-weight: normal;
    font-size: 60px;
    margin-right: 10px;


}
.big-title-right{
    font-family: Oswald-extralight;
    display: inline;
    font-weight: normal;
    font-size: 60px;
    margin-left: 10px;

}

/* FOOTER*/ 

footer{
    height: 30px;
    margin-top: 50px;

}

#nav-footer{
    float: left;
    list-style-type: none;
}
#nav-footer li {
    display: inline;
    margin-right: 15px;
}

#nav-footer li a {
    font-family: oswald-light;
    text-decoration: none;
    color: #000000;
}


#social-network{
    list-style-type: none;
    float: right;
}

#social-network li{
    display: inline;
    margin-left: 15px;
}

#social-network img{
    height: 15px;
    width: auto;
}




/*NAVIGATION BURGER*/

.navigation{
    position: fixed;
    right: 0;
    background-color: #ffffff; 
    width: 30%;
    height: 100%;
    
    transform: translateX(100%);
    
    
     transition: transform .6s ease-in-out;
}
.navigation.isOpen{
      transform: translateX(0%);
   
    
   
}
.menu-burger{
    font-family: Oswald-light;
    font-size: 15px;
    color: black;
    padding-top: 10px;
}
.navigation ul{
    list-style-type: none;
    margin: 0px 30px;
}
.menu-burger a{
    text-decoration: none;
    color: black;
}
.btn-navigation{
    position: fixed;
    right: 30px;
    top: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
}
.barre{
    width: 25px;
    height: 2px;
    background-color: #000000;
    margin: 5px;
}






@media (max-width: 895px) {
/*NAV*/
    .hide_mobile {
        display: none !important;
    }
    .btn-navigation{
        display: block;
    }
}

@media (max-width: 640px) {
    * {
        box-sizing: border-box;
    }

    /* passer body (et tous les éléments de largeur fixe) en largeur automatique */

    body {
        width: auto;
        margin-right: 10px;
        margin-left: 10px;
        padding: 0;
    }


    img,
    table,
    td,
    blockquote,
    code,
    pre,
    textarea,
    input,
    iframe,
    object,
    embed,
    video {
        max-width: 100%;
    }


    .hide_mobile {
        display: none !important;
    }

    .title-responsive,
    #title-terrail{
        width: 100%;
    }
    .navigation{
        width: 60%;
    }
    #logo{
        width: 150px;
    }
    h1{
        font-size: 45px !important;
    }
    h2{
        font-size: 35px !important;
    }
    #social-network img {
        height: 11px;
    }
    #social-network li {
    
    margin-left: 8px;
}
    #nav-footer li a {
    font-size: 12px;
}
      #nav-footer li {
    margin-right: 3px;
}
}
